<%= image_tag("home-division.png", alt: "Division", class: "division") %>
<footer>
  <div class="home-footer">
    <ul>
      <li>
        <%= link_to("Cookin.me", root_path, title: "Cookin.me") %>
      </li>
      <li>
        <a href="http://support.marsbased.com" title="Help Center">Help Center</a>
      </li>
      <li>
        <a href="http://www.marsbased.com" title="MarsBased">MarsBased</a>
      </li>
    </ul>
  </div>
</footer>